<template>
  <div class="container">
    <el-dialog :visible.sync="deleteAddressPopup">
      <h1 id="title">Hapus Alamat</h1>
      <p>Apakah Anda yakin untuk menghapus "Rumah"? Anda tidak dapat mengembalikan alamat yang sudah dihapus.</p>
      <div class="actions">
        <button @click="deleteItems" id="success">Hapus Alamat</button>
        <button @click="closePopUp">Batal</button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Axios from '@/config/axiosInstance.js'
export default {
  name: 'Popup-Delete-Cart',
  props: {
    addressId: {
      type: Number
    }
  },
  data () {
    return {
      deleteAddressPopup: false
    }
  },
  methods: {
    deleteItems () {
      Axios({
        url: 'address/' + this.$props.addressId,
        method: 'DELETE',
        headers: {
          access_token: localStorage.getItem('access_token')
        }
      })
        .then(resp => {
          if (resp.data === 'Address success deleted') {
            this.$emit('refreshAddress', { message: 'Berhasil menghapus alamat' })
          }
          this.closePopUp()
        })
        .catch(err => {
          if (err.response.data.msg === 'data not found') {
            this.$emit('refreshAddress', { message: 'Maaf terjadi kesalahan' })
          }
          this.closePopUp()
        })
    },
    openPopUp () {
      this.$data.deleteAddressPopup = true
    },
    closePopUp () {
      this.$data.deleteAddressPopup = false
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper::v-deep {
  .el-dialog {
    border-radius: 5px;
    padding: 20px;
    margin-top: -10px;
    width: 30%;
    .el-dialog__header {
      display: none;
    }
    .el-dialog__body {
      padding: 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #title {
        font-size: 25px;
        text-align: center;
        color: #00bfa6;
        letter-spacing: 1px;
      }
      p {
        text-align: center;
        font-size: 16px;
        width: 350px;
        margin: 20px 0;
        font-weight: 500;
      }
      .actions {
        width: 260px;
        button {
          background: white;
          width: 100%;
          height: 45px;
          border-radius: 5px;
          border: none;
          font-weight: bold;
          color: white;
          font-size: 18px;
          color: #2a2a2b;
          cursor: pointer;
        }
        #success {
          margin-bottom: 10px;
          color: white;
          background: #00bfa6;
        }
      }
    }
  }
}
</style>
