.el-form-item {
  margin-bottom: 20px;
  .el-radio-group {
    .el-radio {
      &.is-checked {
        .el-radio__input {
          &.is-checked {
            .el-radio__inner {
              background-color: var(--color-blue-background);
              border-color: var(--color-blue-background);
            }
            & + .el-radio__label {
              color: var(--color-blue-background);
            }
          }
          &.is-disabled {
            &.is-checked {
              .el-radio__inner {
                &::after {
                  background-color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .el-date-editor {
    width: 100%;
  }
  .el-form-item__label {
    // label
    float: none;
    line-height: normal;
    padding: 0 0;
    height: 5px;
    font-weight: 400;
    font-size: 15px;
  }
  .el-form-item__content {
    .el-input {
      .el-input__inner {
        height: 35px;
        font-size: 14px;
        &:hover {
          border: 1px solid var(--color-blue-background);
        }
        &:focus {
          border: 1px solid var(--color-blue);
        }
        &:read-only {
          border: 1px solid #DCDFE6;
          cursor: default;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .el-select {
      .el-input {
        .el-input__inner {
          &:hover {
            border: 1px solid var(--color-blue-background);
          }
          &:focus {
            border: 1px solid var(--color-blue);
          }
          &:disabled {
            &:hover {
              border: 1px solid #DCDFE6;
            }
            border: 1px solid #DCDFE6;
            cursor: not-allowed;
          }
        }
      }
    }
    .el-textarea {
      .el-textarea__inner {
        &:hover {
          border: 1px solid var(--color-blue-background);
        }
        &:focus {
          border: 1px solid var(--color-blue);
        }
        &:disabled {
          &:hover {
            border: 1px solid #DCDFE6;
          }
          border: 1px solid #DCDFE6;
          cursor: not-allowed;
        }
      }
    }
  }
  &.is-error {
    .el-form-item__content {
      .el-form-item__error {
        font-size: 12px;
      }
      .el-input {
        .el-input__inner {
          &:hover {
            border: 1px solid red;
          }
          &:focus {
            border: 1px solid red;
          }
        }
      }
    }
  }
}