<template>
  <div>
    <el-dialog :visible.sync="successPopupAddCart">
      <h1 id="title">Berhasil Ditambahkan</h1>
      <div class="item-adding">
        <div class="item">
          <img :src="book.cover" alt="">
          <p>{{ book.title }}</p>
        </div>
        <button class="see-cart" @click="toCartPage">Lihat Keranjang</button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Success-Popup',
  props: {
    book: {
      type: Object
    }
  },
  data () {
    return {
      successPopupAddCart: false
    }
  },
  mounted () {
    this.$root.$on('setPopupSuccesAddtoCart', (payload) => {
      this.$data.successPopupAddCart = payload
    })
  },
  computed: {
    bookRecomendations () {
      return this.$store.state.book_recommendation.slice(0, 4)
    }
  },
  methods: {
    toCartPage () {
      this.$router.push('/cart')
      this.closePopUp()
    },
    openPopup () {
      this.$data.successPopupAddCart = true
    },
    closePopUp () {
      this.$data.successPopupAddCart = false
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper::v-deep {
  .el-dialog {
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    margin-top: -10px;
    .el-dialog__header {
      .el-dialog__close {
        font-weight: bold;
        font-size: 20px;
        color: #6C727C;
        &:hover {
          color: #00bfa6;
        }
      }
    }
    .el-dialog__body {
      padding: 0;
      border-radius: 10px;
      #title {
        font-size: 25px;
        text-align: center;
        color: #00bfa6;
        letter-spacing: 1px;
      }
      .item-adding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 8%;
          }
          p {
            margin-left: 10px;
            font-size: 15px;
            font-weight: 500;
          }
        }
        .see-cart {
          border: none;
          width: 220px;
          background: #00bfa6;
          color: white;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: .3s;
          &:hover {
          background: #29ceb8;
          }
        }
      }
      .grid {
        margin-top: 20px;
        .title {
          font-size: 23px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
</style>
