<template>
  <div class="cms__logged">
    <div class="cms__logged-cart">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="cms__logged-account">
      <div class="cms__logged-account__img">
        <img src="@/assets/images/batman.jpeg" alt="">
      </div>
      <div class="cms__logged-account__name">
        <p>Arrasyid</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Logged_Navbar'
}
</script>

<style lang="scss" scoped>
.cms__logged {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 170px;
  .cms__logged-cart {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    .fa-shopping-cart {
      color: var(--color-blue);
    }
  }
  .cms__logged-account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    .cms__logged-account__img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cms__logged-account__name {
      color: white;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
</style>
