<template>
  <div class="ecm__sign">
    <div class="ecm__sign-div">
      <p>Masuk</p>
    </div>
    <div class="ecm__sign-div">
      <p>Daftar</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sign_Navbar'
}
</script>

<style lang="scss" scoped>
.ecm__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .ecm__sign-div {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: white;
    border-radius: 5px;
    p {
      color: var(--color-blue);
      font-weight: 500;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ecm__sign {
    .ecm__sign-div {
      width: 65px;
      height: 30px;
      p {
        font-size: 15px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
</style>
