<template>
  <div class="card-checkout">
    <div class="cover">
      <img :src="book.Book.cover" alt="">
    </div>
    <div class="description">
      <p class="title-item">{{ book.Book.title }}</p>
      <p class="quantity-item">{{ book.quantity }} barang</p>
      <p class="price-item">Rp {{ setDisplayPrice(book.Book.price) }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkout-Card',
  props: {
    book: {
      type: Object
    }
  },
  methods: {
    setDisplayPrice (value) {
      if (value !== undefined || value !== null) {
        value = +value
        const reverseValue = value.toString().split('').reverse().join('')
        let price = reverseValue.match(/\d{1,3}/g)
        price = price.join('.').split('').reverse().join('')
        return price
      } else {
        return '...'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card-checkout {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 7px 5px;
  border-radius: 5px;
  display: flex;
  height: 99px;
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 95px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .description {
    padding-top: 10px;
    width: 380px;
    margin-left: 5px;
    p {
      margin-bottom: 5px;
      font-size: 14px;
      color: #31353B;
    }
    .price-item {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

</style>
