<template>
  <div class="container">
    <el-dialog :visible.sync="successPopupAddCart">
      <h1 id="title" v-if="update">Ubah Alamat</h1>
      <h1 id="title" v-else>Tambah Alamat Baru</h1>
      <el-form @submit.prevent.native="handleAddressFrom" :rules="addressRules" :model="addressForm" ref="addressForm">
        <div class="receiver">
          <el-form-item prop="receiver">
            <el-input placeholder="Penerima" v-model="addressForm.receiver"></el-input>
          </el-form-item>
          <el-form-item prop="phone_number">
            <el-input type="number" placeholder="No Hp" v-model="addressForm.phone_number"></el-input>
          </el-form-item>
        </div>
        <div class="city_form">
          <el-form-item prop="province_id">
            <el-select @change="handleProvince" v-model="addressForm.province_id" placeholder="Provinsi">
              <el-option
                v-for="item in provinceOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="city_id" class="city">
            <el-select @change="handleCity" :disabled="isDisabledCity" v-model="addressForm.city_id" placeholder="Kabupaten">
              <el-option
                v-for="item in cityOptions"
                :key="item.city_id"
                :label="item.city_name"
                :value="item.city_id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="postal_code">
            <el-input placeholder="Kode Pos" readonly v-model="addressForm.postal_code"></el-input>
          </el-form-item>
        </div>
        <el-form-item prop="detail_address">
          <el-input placeholder="Alamat Detail" v-model="addressForm.detail_address"></el-input>
        </el-form-item>
        <div class="main_address">
          <input type="checkbox" id="main_address" v-model="addressForm.is_main_address">
          <label for="main_address">Jadikan Alamat Utama</label>
        </div>
        <div class="actions_form">
          <button type="button" @click="closePopUp">Batal</button>
          <button class="add-address" type="submit">Tambah & Gunakan</button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import Axios from '@/config/axiosInstance.js'
export default {
  name: 'Popup-Create-Address',
  data () {
    return {
      update: false,
      links: [],
      successPopupAddCart: false,
      isDisabledCity: true,
      addressForm: {
        receiver: '',
        phone_number: null,
        province: '',
        city: '',
        postal_code: '',
        detail_address: '',
        province_id: null,
        city_id: null,
        is_main_address: false
      },
      index: 0,
      addressRules: {
        receiver: [
          { required: true, message: 'nama penerima tidak boleh kosong', trigger: 'blur' },
          { min: 5, message: 'minimal panjang penerima 5 karakter', trigger: 'blur' }
        ],
        phone_number: [
          { required: true, message: 'no hp penerima tidak boleh kosong', trigger: 'blur' },
          { min: 12, message: 'minimal panjang penerima 12 angka', trigger: 'blur' },
          { max: 13, message: 'maximal panjang penerima 13 angka', trigger: 'blur' }
        ],
        province_id: [
          { required: true, message: 'pilih provinsi', trigger: 'blur' }
        ],
        city_id: [
          { required: true, message: 'pilih kota', trigger: 'blur' }
        ],
        detail_address: [
          { required: true, message: 'alamat lengkap tidak boleh kosong', trigger: 'blur' },
          { min: 10, message: 'minimal panjang alamat 10 karakter', trigger: 'blur' }
        ]
      },
      cityOptions: [],
      provinceOptions: [],
      value: '',
      addressId: null
    }
  },
  mounted () {
    this.fetchProvince()
    this.setAddressForm()
  },
  computed: {
    bookRecomendations () {
      return this.$store.state.book_recommendation.slice(0, 4)
    }
  },
  watch: {
    successPopupAddCart (val, oldVal) {
      if (val === false) {
        this.$refs.addressForm.resetFields()
        this.$data.addressForm.postal_code = ''
      }
    }
  },
  methods: {
    setAddressForm (update, address) {
      this.$data.update = update
      if (this.$data.update && address) {
        this.$data.isDisabledCity = false
        this.$data.addressId = address.id
        this.$data.addressForm.receiver = address.receiver
        this.$data.addressForm.phone_number = address.phone_number
        this.$data.addressForm.province = address.province
        this.$data.addressForm.city = address.city
        this.$data.addressForm.postal_code = address.postal_code
        this.$data.addressForm.detail_address = address.detail_address
        this.$data.addressForm.province_id = address.province_id.toString()
        this.handleProvince(this.$data.addressForm.province_id, address.city_id.toString())
        this.$data.addressForm.is_main_address = address.is_main_address
      } else {
        const form = {
          receiver: '',
          phone_number: null,
          province: '',
          city: '',
          postal_code: '',
          detail_address: '',
          province_id: null,
          city_id: null,
          is_main_address: false
        }
        this.$data.addressForm = form
      }
    },
    handleProvince (provinceId, cityId = null) {
      this.$data.addressForm.city_id = null
      this.$data.addressForm.postal_code = null
      const temp = this.$data.provinceOptions.filter(el => {
        if (el.value === provinceId) {
          return el
        }
      })
      const result = JSON.parse(JSON.stringify(temp))
      this.$data.addressForm.province = result[0].label
      this.$data.isDisabledCity = false
      this.fetchCities(provinceId, cityId)
    },
    fetchProvince () {
      this.$store.dispatch('fetchProvinces', {
        cbSuccess: (resp) => {
          this.$data.provinceOptions = resp.data.response
        },
        cbError: (err) => {
          console.log(err)
        }
      })
    },
    fetchCities (provinceId, cityId = null) {
      this.$store.dispatch('fetchCities', {
        province: +provinceId,
        cbSuccess: (resp) => {
          this.$data.cityOptions = resp.data
          if (this.$data.update) {
            this.handleCity(cityId)
          }
        },
        cbError: (err) => {
          console.log(err)
        }
      })
    },
    handleCity (cityId) {
      const temp = this.$data.cityOptions.filter(el => {
        if (el.city_id === cityId) {
          return el
        }
      })
      this.$data.addressForm.city_id = cityId
      const result = JSON.parse(JSON.stringify(temp))
      if (result.length !== 0) {
        this.$data.addressForm.city = result[0].city_name
        this.$data.addressForm.postal_code = result[0].postal_code
      }
    },
    handleAddressFrom () {
      this.$refs.addressForm.validate((valid) => {
        if (valid) {
          const data = {
            province: this.$data.addressForm.province,
            city: this.$data.addressForm.city,
            receiver: this.$data.addressForm.receiver,
            phone_number: this.$data.addressForm.phone_number,
            postal_code: this.$data.addressForm.postal_code,
            detail_address: this.$data.addressForm.detail_address,
            province_id: +this.$data.addressForm.province_id,
            city_id: +this.$data.addressForm.city_id,
            is_main_address: this.$route.name === 'Checkout' ? true : this.$data.addressForm.is_main_address
          }
          if (!this.$data.update) {
            Axios({
              url: 'address',
              method: 'POST',
              headers: {
                access_token: localStorage.getItem('access_token')
              },
              data
            })
              .then(resp => {
                if (this.$route.name === 'Cart' || this.$route.name === 'Books-Detail') {
                  this.$router.push('/checkout')
                } else if (this.$route.name === 'Checkout') {
                  this.$root.$emit('refreshAddressCheckout', { key: 'refresh', message: 'Berhasil mengganti alamat' })
                } else if (this.$route.name === 'Setting') {
                  this.$emit('refreshAddress', { message: 'Berhasil mengganti alamat' })
                }
                this.closePopUp()
                this.$refs.addressForm.resetFields()
              })
              .catch(err => {
                console.log(err.response)
              })
          } else {
            Axios({
              url: 'address/' + this.$data.addressId,
              method: 'PUT',
              headers: {
                access_token: localStorage.getItem('access_token')
              },
              data
            })
              .then(resp => {
                this.$emit('refreshAddress', { message: 'Berhasil merubah alamat' })
                this.closePopUp()
              })
              .catch(err => { // eslint-disable-line
                this.$emit('refreshAddress', { message: 'Maaf terjadi kesalahan' })
                this.closePopUp()
              })
          }
        } else {
          return false
        }
      })
    },
    toCartPage () {
      this.$router.push('/cart')
      this.closePopUp()
    },
    openPopup () {
      this.$data.successPopupAddCart = true
    },
    closePopUp () {
      this.$data.successPopupAddCart = false
      this.$refs.addressForm.resetFields()
      this.$data.addressForm.postal_code = ''
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper::v-deep {
  .el-dialog {
    border-radius: 5px;
    padding: 20px;
    margin-top: -10px;
    .el-dialog__header {
      .el-dialog__close {
        font-weight: bold;
        font-size: 20px;
        color: #6C727C;
        &:hover {
          color: #29ceb8;
        }
      }
    }
    .el-dialog__body {
      padding: 0;
      border-radius: 10px;
      #title {
        font-size: 25px;
        text-align: center;
        color: #2a2a2b;
        letter-spacing: 1px;
      }
      .el-form {
        margin-top: 30px;
        .el-form-item {
          .el-form-item__content {
            .el-select {
              width: 100%;
            }
            .el-input {
                input {
                  &:hover {
                    border: 2px solid #29ceb8;
                  }
                  &:focus {
                    border: 2px solid #00bfa6;
                  }
                }
              }
          }
        }
        .receiver {
          display: flex;
          justify-content: space-between;
          .el-form-item {
            width: 49%;
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        .city_form {
          display: flex;
          justify-content: space-between;
          .el-form-item {
            width: 32%;
          }
          .postal_code {
            .el-form-item__content {
              .el-input {
                input {
                  &:hover {
                    border: 1px solid #DCDFE6;
                  }
                  &:focus {
                    border: 1px solid #DCDFE6;
                  }
                }
              }
            }
          }
        }
        .main_address {
          width: 180px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          #main_address {
            margin-right: 5px;
            cursor: pointer;
          }
          label {
            cursor: pointer;
          }
        }
        .actions_form {
          display: flex;
          justify-content: flex-end;
          margin-top: 35px;
          button {
            width: 180px;
            height: 40px;
            margin-left: 20px;
            border: none;
            border-radius: 5px;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 15px;
            cursor: pointer;
            background: white;
            border: 1px solid rgb(189, 189, 189);
          }
          .add-address {
            background: #00bfa6;
            color: white;
            transition: .3s;
            &:hover {
              background: #29ceb8;
            }
          }
        }
      }
    }
  }
}
</style>
