<template>
  <div class="container">
    <el-dialog :visible.sync="openChangeAddress">
      <h1 id="title">Pilih Alamat Pengiriman</h1>
      <p class="create-new-address" @click="openAddForm">Tambah Alamat Baru</p>
      <div class="list-address">
        <div v-for="(address, index) in listAddress" :key="address.id" class="address">
          <div :class="[address.is_main_address === true || index === 0 ? 'item active' : 'item']">
            <div class="desc">
              <p>{{ address.receiver }}</p>
              <p>{{ address.phone_number }}</p>
              <p>{{ address.detail_address }}</p>
              <p>{{ address.province }}, {{ address.city }}, {{ address.postal_code }}</p>
            </div>
            <div class="choose-address">
              <button @click="setMainAddress(address.id)" v-if="address.is_main_address !== true && index !== 0">Pilih Alamat</button>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Axios from '@/config/axiosInstance.js'
export default {
  name: 'Change-Address',
  data () {
    return {
      openChangeAddress: false
    }
  },
  computed: {
    listAddress () {
      const data = this.$store.state.listAddress
      const result = []
      data.forEach(element => {
        if (element.is_main_address === true) {
          result.unshift(element)
        } else {
          result.push(element)
        }
      })
      return result
    },
    mainAddress () {
      return this.$store.state.mainAddress
    }
  },
  methods: {
    setMainAddress (id) {
      Axios({
        url: 'address/' + id,
        method: 'PATCH',
        headers: {
          access_token: localStorage.getItem('access_token')
        }
      })
        .then(resp => {
          this.$root.$emit('refreshAddressCheckout', { key: 'refresh', message: 'Berhasil mengganti alamat' })
          this.$data.openChangeAddress = false
        })
        .catch(error => {
          console.log(error, 'err masuk')
        })
    },
    openAddForm () {
      this.$data.openChangeAddress = false
      this.$emit('openAddAdressPopup')
    },
    openPopup () {
      this.$data.openChangeAddress = true
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper::v-deep {
  .el-dialog {
    border-radius: 5px;
    padding: 20px;
    margin-top: -10px;
    .el-dialog__header {
      .el-dialog__close {
        font-weight: bold;
        font-size: 20px;
        color: #6C727C;
        &:hover {
          color: #29ceb8;
        }
      }
    }
    .el-dialog__body {
      padding: 0 0 30px 0;
      border-radius: 10px;
      #title {
        font-size: 25px;
        text-align: center;
        color: #393D43;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      .create-new-address {
        text-align: center;
        color: #9FA6B0;
        font-weight: bold;
        font-size: 18px;
        padding: 15px;
        border: 1px solid #DBDEE2;
        border-radius: 5px;
        border-style: dotted;
        cursor: pointer;
      }
      .list-address {
        margin-top: 10px;
        height: 260px;
        overflow-y: auto;
        .item {
          padding: 10px;
          border-radius: 5px;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          border: 1px solid #DBDEE2;
          &.active {
            border: 1px solid #00bfa6;
            background: #00bfa612;
          }
          .desc {
            p {
              margin-bottom: 3px;
              font-weight: 500;
              font-size: 15px;
            }
          }
          .choose-address {
            button {
              cursor: pointer;
              height: 35px;
              width: 120px;
              border: none;
              background: #00bfa6;
              color: white;
              font-weight: 700;
              border-radius: 7px;
            }
          }
        }
      }
    }
  }
}

</style>
