<template>
  <div class="item">
    <p class="reg-title">{{ service.service }} ({{service.description }})</p>
    <div class="choose-service" v-for="(item, index) in service.cost" :key="index">
      <label :for="service.service+'-'+index" class="radio">
        <input @click="getValue(item.value, service.service, service.description)" v-model="isSelected" class="radio__input" :id="service.service+'-'+index" type="radio" name="service" :value="item.value">
        <div class="radio__radio"></div>
        <div class="content">
          <p>Rp {{ setDisplayPrice(item.value) }}</p>
          <p>Estimasi tiba {{ item.etd }} hari</p>
        </div>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Service-Courier',
  props: {
    service: {
      type: Object
    }
  },
  data () {
    return {
      isSelected: ''
    }
  },
  methods: {
    setDisplayPrice (value) {
      if (value !== undefined || value !== null) {
        value = +value
        const reverseValue = value.toString().split('').reverse().join('')
        let price = reverseValue.match(/\d{1,3}/g)
        price = price.join('.').split('').reverse().join('')
        return price
      } else {
        return '...'
      }
    },
    setDefaultIsSelected () {
      this.$data.isSelected = ''
    },
    getValue (cost, service, description) {
      this.$emit('getValue', { cost, service, description })
    }
  }
}
</script>

<style lang="scss" scoped>
.reg-title {
  background: #00bfa6;
  border-radius: 5px;
  text-align: center;
  padding: 7px 1px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 13px;
}
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  width: 100%;
  letter-spacing: .5px;
  font-weight: 500;
  margin-bottom: 10px;
  &:hover {
    .content {
      background: #00bfa6;
      color: white;
    }
  }
  .radio__input {
    display: none;
    position: absolute;
  }
  .radio__radio {
    width: 21px;
    height: 20px;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
    transition: .1s;
  }
  .radio__radio::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #00bfa6;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .15s;
  }
  .radio__input:checked + .radio__radio::after {
    transform: scale(1);
  }
  .content {
    border: 1px solid #d8e4e2;
    height: 33px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s;
    p {
      font-size: 13px;
      margin-bottom: 2px;
    }
  }
}
</style>
