<template>
  <div class="container-testimonial">
    <p id="title">TESTIMONIAL</p>
    <div class="sub-container">
      <div id="testimonial">
        <div class="block">
          <el-carousel trigger="click" arrow="never" height="150px">
            <el-carousel-item v-for="item in 4" :key="item">
              <div class="card-testimonial">
                <div class="image">
                  <div class="photo">
                    <img src="@/assets/images/batman.jpeg" alt="" srcset="">
                  </div>
                </div>
                <div class="message">
                  <p class="word">
                    " Alhamdulillah putri kami sekolah disini .. Albanna sekolah yg sangat luar biasa ..sopan santun dan budi pekertinya sangat bagus dan tentunya pelajaran agamanya …saya ucapkan banyak “terima kasih untuk para guru yg sdh dengan sangat sabar membimbing putri kami .dr kls 7 smpe kls 9… Albanna akan sllu ada dihati… "
                  </p>
                  <p class="from">• Rick E.</p>
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Testimonial',
  data () {
    return {
      scrollPosition: 0
    }
  },
  mounted () {
    window.addEventListener('scroll', this.getPositionScroll)
  },
  methods: {
    getPositionScroll () {
      if (this.$route.name === 'Home') {
        this.$data.scrollPosition = window.pageYOffset
        const getContainerTestimonial = document.querySelector('.container-testimonial')
        getContainerTestimonial.style.backgroundSize = 160 - window.pageYOffset / 12 + '%'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container-testimonial {
  margin-top: 40px;
  margin-bottom: 100px;
  background: linear-gradient(#00000080, #000000), url(~@/assets/images/book-background.jpg);
  background-size: 160%;
  background-position: center;
  overflow: hidden;
  #title {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
    // color: #545454;
    color: white;
  }
  .sub-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #testimonial {
      width: 90%;
      height: 300px;
      // background: blue
      display: flex;
      justify-content: center;
      align-items: center;
      .card-testimonial {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .image {
          width: 10%;
          .photo {
            height: 180px;
            width: 180px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 150%;
              height: 100%;
            }
          }
        }
        .message {
          width: 80%;
          p {
            color: white;
            word-spacing: 5px;
          }
          .word {
            font-style: italic;
            font-size: 20px;
          }
          .from {
            margin-top: 20px;
            font-size: 19px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.block::v-deep {
  width: 100%;
  .el-carousel__container {
    height: 300px !important;
  }
}
</style>
