<template>
  <div class="footer">
    <div class="div">
      <p @click="toLinkedin"><i class="fab fa-linkedin"></i>Arrasyid Fadel Fatonsyah</p>
      <p><i class="fab fa-github"></i>arrasyidff</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  methods: {
    toLinkedin () {
      this.$router.push('/linkedin')
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  margin-top: 50px;
  height:60px;
  background: #101010;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    p {
      color: white;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      i {
        margin-right: 5px;
      }
    }
  }
}
</style>
