<template>
  <div class="container">
    <el-form @submit.prevent.native="handleForm" :rules="formRules" :model="form" ref="form">
      <div class="name" v-if="inputType === 'full_name'">
        <h1 class="page-title" >Ubah Nama</h1>
        <el-form-item prop="full_name" label="Nama">
          <el-input placeholder="ubah nama" v-model="form.full_name"></el-input>
        </el-form-item>
      </div>
      <!-- space -->
      <div class="date" v-if="inputType === 'date_of_birth'">
        <h1 class="page-title" >Ubah Tanggal Lahir</h1>
        <el-form-item prop="date_of_birth">
          <el-date-picker
            align="center"
            v-model="form.date_of_birth"
            type="date"
            placeholder="ubah tanggal lahir">
          </el-date-picker>
          <!-- <el-input placeholder="ubah tanggal lahir" v-model="form.full_name"></el-input> -->
        </el-form-item>
      </div>
      <!-- space -->
      <div class="gender" v-if="inputType === 'gender'">
        <h1 class="page-title" >Ubah Jenis Kelamin</h1>
        <el-form-item prop="gender">
          <el-radio-group v-model="form.gender">
            <div class="gender-input">
              <el-radio label="Laki - Laki"></el-radio>
            </div>
            <div class="gender-input">
              <el-radio label="Perempuan"></el-radio>
            </div>
          </el-radio-group>
        </el-form-item>
      </div>
      <!-- space -->
      <div class="email" v-if="inputType === 'email'">
        <h1 class="page-title">Ubah Email</h1>
        <el-form-item prop="email" label="Email">
          <el-input placeholder="email" v-model="form.email"></el-input>
        </el-form-item>
      </div>
      <!-- space -->
      <div class="phone_number" v-if="inputType === 'phone_number'">
        <h1 class="page-title">Ubah Nomor HP</h1>
        <el-form-item prop="phone_number" label="Nomor HP">
          <el-input placeholder="ubah nomor hp" type="number" v-model="form.phone_number"></el-input>
        </el-form-item>
      </div>
      <div class="form-actions">
        <div class="btn-cancel" @click="handleCancel">Cancel</div>
        <button class="btn-submit" native-type="submit">Submit</button>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'Text-Form',
  props: {
    inputType: {
      type: String
    },
    value: {
      type: String
    }
  },
  data () {
    return {
      testDate: new Date(),
      form: {
        full_name: '',
        date_of_birth: '',
        gender: '',
        email: '',
        phone_number: ''
      },
      formRules: {
        full_name: [
          { required: true, message: 'nama tidak boleh kosong', trigger: 'blur' }
        ],
        email: [
          { required: true, message: 'email tidak boleh kosong', trigger: 'blur' },
          { type: 'email', message: 'email harus dalam format email', trigger: 'blur' }
        ],
        date_of_birth: [
          { required: true, message: 'tanggal lahir tidak boleh kosong', trigger: 'blur' }
        ],
        gender: [
          { required: true, message: 'jenis kelamin tidak boleh kosong', trigger: 'blur' }
        ],
        phone_number: [
          { required: true, message: 'no hp penerima tidak boleh kosong', trigger: 'blur' },
          { min: 12, message: 'minimal panjang penerima 12 angka', trigger: 'blur' },
          { max: 13, message: 'maximal panjang penerima 13 angka', trigger: 'blur' }
        ]
      }
    }
  },
  mounted () {
    this.resetFields()
    this.setValue()
  },
  methods: {
    handleForm () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let typeInput
          let value
          for (const key in this.$data.form) {
            if (this.$data.form[key]) {
              typeInput = key
              value = this.$data.form[key]
            }
          }
          this.$emit('handleForm', { typeInput, value })
          this.$data.form[`${typeInput}`] = ''
        } else {
          return false
        }
      })
    },
    setValue (inputType = null, value = null) {
      this.resetFields()
      if (!inputType && !value) {
        inputType = this.$props.inputType
        value = this.$props.value
      }
      this.$data.form[`${inputType}`] = value
    },
    handleCancel () {
      this.$emit('handleCancel', false)
      this.resetFields()
    },
    resetFields () {
      this.$refs.form.resetFields()
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  text-align: center;
  margin: 15px 0;
}
.el-form {
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .el-form-item::v-deep {
    .el-form-item__label {
      font-weight: bold;
      line-height: 25px;
      &:before {
        display: none;
      }
    }
    .el-form-item__content {
      .el-input {
        input {
          font-weight: 700;
          &:focus {
            border-color: #00bfa6;
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
    }
  }
  .gender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .page-title {
      margin-bottom: 20px;
    }
    .el-form-item::v-deep {
      .el-form-item__content {
        width: 300px;
        padding: 10px 0;
        .el-radio-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .gender-input {
            width: 120px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          // .gender-input
        }
        .el-radio {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 50px;
          .el-radio__input {
            .el-radio__inner {
              height: 20px;
              width: 20px;
              border: 1px solid rgba(9, 8, 8, 0.207);
              &:after {
                height: 7px;
                width: 7px;
                background: white;
              }
            }
          }
          &.is-checked {
            .el-radio__label {
              color: #00bfa6;
            }
            .el-radio__inner {
              background: #00bfa6;
              border: 1px solid #00bfa6;
            }
          }
        }
      }
    }
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
    div, button {
      border: none;
      margin-left: 10px;
      width: 100px;
      height: 37px;
      border-radius: 5px;
      font-weight: 700;
      letter-spacing: 1px;
      color: white;
      cursor: pointer;
    }
    .btn-cancel {
      line-height: 37px;
      text-align: center;
      background: rgb(255, 68, 68);
    }
    .btn-submit {
      background: #00bfa6;
    }
  }
}
</style>
