@import url(./components/inputs/input.scss);

.el-message {
  .el-icon-success {
    color: white;
  }
}

/* message success */
.el-message--success {
  background-color: rgba(0, 0, 0, 0.87);
  border-color: black;
  .el-message__content {
    color: white;
  }
}

/* ecm navbar top */
.ecm-navbar__content-link-item {
  .ecm-navbar__content-link-item-point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    padding-right: 10px;
    &:hover {
      background: var(--color-blue-background);
      color: white;
    }
    .ecm-navbar__content-link-item-point--icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ecm-navbar__content-link-item-point--desc {
      font-weight: 500;
    }
  }
}

/* ecm navbar bottom */
.ecm__navbar-bottom__links-link__content {
  width: auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  .ecm__navbar-bottom__links-link__content-data {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }
  .ecm__navbar-bottom__links-link__content-data__item {
    padding: 3px 5px;
    p {
      font-size: 13px;
      background: var(--color-blue);
      padding: 2px 7px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        background: rgb(1, 97, 201);
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .ecm__navbar-bottom__links-link__content {
    .ecm__navbar-bottom__links-link__content-data {
      justify-content: center;
      width: 320px;
      .ecm__navbar-bottom__links-link__content-data__item {
        // padding: 20px 0px;
        p {
          text-align: center;
        }
      }
    }
  }
}
