<template>
  <div class="container">
    <el-dialog
      title="Tips"
      :visible="dialogVisible"
      width="40%"
    >
      <TextForm
        ref="formRef"
        :inputType="typeForm"
        :value="value"
        @handleForm="handleForm"
        @handleCancel="handleCancel"
      />
    </el-dialog>
  </div>
</template>

<script>
import Axios from '@/config/axiosInstance.js'
import TextForm from '@/components/settings/form/TextForm.vue'
export default {
  name: 'Popup-Change-Data',
  components: {
    TextForm
  },
  data () {
    return {
      dialogVisible: false,
      typeForm: '',
      value: ''
    }
  },
  methods: {
    changeType (typeForm, value) {
      this.$refs.formRef?.setValue(typeForm, value) //eslint-disable-line
      // console.log(this.$refs.formRef, 'form ref')
      this.$data.typeForm = typeForm
      this.$data.value = value
      this.$data.dialogVisible = true
    },
    handleForm (payload) {
      const user = JSON.parse(localStorage.getItem('user'))
      Axios({
        url: 'user/' + user.id,
        method: 'PATCH',
        data: {
          typeInput: payload.typeInput,
          value: payload.value
        }
      })
        .then(res => {
          this.$root.$emit('refreshProfile', true)
          this.$message.success('Berhasil merubah profile')
          this.$refs.formRef.resetFields()
          this.$data.dialogVisible = false
        })
        .catch(err => { // eslint-disable-line
          this.$data.dialogVisible = false
          this.$message.error('maaf terjadi kesalahan')
        })
    },
    handleCancel (payload) {
      this.$data.dialogVisible = payload
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__wrapper::v-deep {
  .el-dialog {
    border-radius: 10px;
    .el-dialog__header {
      display: none;
    }
  }
}
</style>
